    <header>
      <span class="login">Not Signed In</span>
      <div class="container">
          <img src="../assets/images/logo.png" alt="LOGO">
          <h1>Burn</h1>
      </div>
    </header>
