    <ul>
      <li><a href="index">HOME</a></li>
      <li><a href="categories">Workouts</a></li>
      <li><a href="#Discard">Diets</a></li>
      <li><a href="#Discard">Store</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
