    <nav id="navbar">
      <ul>
        <li><a href="#Discard">SIGN IN</a></li>
        <li><a href="myitems">My Regime</a></li>
        <li><a href="#Discard">My Diet</a></li>
        <li><a href="#Discard">Cart</a></li>
      </ul>
    </nav>
