<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Fitness and Diet to get into best shape">
  <meta name="keywords" content="Fitness, Diet, Diet to get best shape">
  <meta name="author" content="Sampath Parapatakam">
  <title> Burn | Welcome </title>
  <link rel='stylesheet' href="../assets/css/style.css">
</head>
<body>
<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>
<section id="show1">
	<div id="show2">
		<div class="ver1">
			<% include partials/site-navigation.ejs %>
		</div>
		<div class="ver2">
          <h3>About Us:</h3>
          <p>
						Welcome to <strong>Burn</strong>, The Best Fitness Regimes that you can get.<br> People can share their Fitness and Diet with others, subscribe to a fitness regime, give rating to that workout plan.
            people can also buy dietary needs and equipment from the store.
          </p>
		</div>
   </div>
 </section>
	<% include partials/footer.ejs %>
</body>
</html>
