<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Fitness and Diet to get into best shape">
  <meta name="keywords" content="Fitness, Diet, Diet to get best shape">
  <meta name="author" content="Sampath Parapatakam">
  <title> Burn | Welcome </title>
  <link rel='stylesheet' href="../assets/css/style.css">
</head>
<body>
<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>

  <section id="show1">
    <div id="show2">
      <div class="ver1">
        <% include partials/site-navigation.ejs %>
      </div>
      <div class="ver2">
          <h3>Contact Us:</h3>
          <p>
           9207 University City Blvd,<br />
           Charlotte, North Carolina 28262.<br /></p>
           <h3>Phone Number:</h3>
           <p>9652244770</p>
      </div>
     </div>
   </section>
<% include partials/footer.ejs %>
</body>
</html>
