<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Fitness and Diet to get into best shape">
    <meta name="keywords" content="Fitness, Diet, Diet to get best shape">
    <meta name="author" content="Sampath Parapatakam">
    <title> Burn | Welcome </title>
    <link rel='stylesheet' href="../assets/css/style.css">
  </head>
  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>

    <section id="show1">
      <div id="show2">
      <div class="ver1">

        <% include partials/site-navigation.ejs %>

      </div>
      <div class="ver2">
        <h2>The Best Fitness Regime for you.</h2>
        <p>You will never go by a day without following our fitness profile that we design for you..</p><br><br>
        <p>You can Subscribe to the regime you wish to take</p>
        <p>You can check out the diets you need to follow for that workout</p>
        <p>You buy workout equipment and dietary needs from store</p>
      </div>
    </div>
    </section>
    <% include partials/footer.ejs %>
  </body>
</html>
